---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Belle II Academy: <a href='../files/Belle_II_Academy_Essential_LaTeX_Equation_Tools.pdf'>A presentation on useful tools for $\LaTeX$ equations</a>

ICHEP2020 Diversity and Inclusion Activities in Belle II Presentation: <a href='https://youtu.be/d22ErHCVrOs?t=191'>YouTube Recording</a>, <a href\
='../files/ICHEP_B2_Diversity+Inclusion_HMW'>slides</a> and <a href\
='https://arxiv.org/abs/2102.04195'>Proceedings</a>.

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

