---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Please find a list of resources that are outputs of my time in academia.

<h2>McGill & Belle II (2017-2X)</h2>

<p>Belle II Poster presented at QAtCanSTEM: <a href='../files/QAtCanSTEMPoster.pdf'></a></p>

<p>Belle II Academy: <a href='../files/Belle_II_Academy_Essential_LaTeX_Equation_Tools.pdf'>A presentation on useful tools for $\LaTeX$ equations</a></p>

<p>ICHEP2020 Diversity and Inclusion Activities in Belle II Presentation: <a href='https://youtu.be/d22ErHCVrOs?t=191'>YouTube Recording</a>, <a href='../files/ICHEP_B2_Diversity+Inclusion_HMW.pdf'>slides</a> and <a href='https://arxiv.org/abs/2102.04195'>Proceedings</a>.</p>

<h2>RHUL & DEAP3600</h2>
<h3>My Masters project</h3>
<p><a href='../files/Is_Dark_Matter_Made_of_Axions.pdf'>Research Review</a>: “Is Dark Matter Made of Axions?” (~10,000 word dissertation, Grade: high 1st)</p>
<p><a href='../files/Searching_For_Axions_In_The_DEAP-3600_Detector.pdf'>Major Project</a>: “Searching for Axions in the DEAP-3600 Detector.” (300 hour project, 7500 word thesis, thesis defense, Grade: high 1st)</p>
<p><a href='../files/Masters_Poster_DEAP-3600.pdf'>Poster Presentation</a>: 2nd place in program's poster competition.</p>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

